body {
    color: white;
    background-color: black;
}

header, footer {
    background-color: purple;
}

header, footer, section {
    padding: 10px;
}

footer {
    text-align: center;
}

img, span {
    vertical-align: middle;
    display: inline-block;
}

/* Navigation */

#navigation .button {
    font-weight: bold;
    padding: 15px;
}

#navigation .button:hover {
    background-color: gray;
    border-radius: 5px;
}

/* Directory */

#directory {
    text-align: center;
}

#directory .item {
    vertical-align: top;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
    width: 200px;
}

#directory .item:hover {
    background-color: gray;
    border-radius: 5px;
}

#directory .error {
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 5px;

}
